<!DOCTYPE html>
<html lang="en"> 
 <head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="description" content="">
     <meta name="author" content="Andrew Lee">
 
     <title>UNDL Proxy</title>
 
     <!-- Bootstrap core CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

     <!-- Bootstrap Theme -->
     <!-- <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet"> -->
     
     <!-- Local CSS -->
     <link rel="stylesheet" type="text/css" href="/dev/static/css/style.css">

    <!-- jQuery -->
    <script src="/dev/static/js/jquery.min.js"></script>

    <!-- Normalize css  -->
    <link rel="stylesheet" type="text/css" href="/dev/static/css/normalize.css">

    <!-- Bootstrap JS -->
    <!-- <script type="text/javascript" src="/static/js/bootstrap.min.js"> </script> -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous">
    </script>

    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

    <!-- local index.js -->
    <script type="text/javascript" src="/dev/static/js/index.js"> </script>
 
 </head>
<body>
    {% block content %}

    {% endblock %}
</body>
</html>
