{% extends 'base.html' %}

{% block content %}

<div class="container-fluid"> 
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/dev/">Home</a>
        <a class="navbar-brand" href="/dev/list">History</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <button class="btn-info btn-small" id='results-json'>JSON Link</button>
            </li>
            &nbsp;
            <li class="nav-item">
                <button class="btn-info btn-small" id='results-xml'>XML Link</button>
            </li>
            &nbsp;
            <li class="nav-item">
                <button class="btn-warning btn-small" id='fresh-results-json'>refresh JSON</button>
            </li>
            &nbsp;
            <li class="nav-item">
                <button class="btn-warning btn-small" id='fresh-results-xml'>refresh XML</button>
            </li>
        </ul>
    </nav>
    <!-- <class="container"> -->
    <div class="header">
        <span>Original Url: <a href={{context.obj.url}} target="#">{{context.obj.url}}</a></span><br/>
        <span>Created: {{context.obj.created}}</span><br/>
        <span>Updated: {{context.obj.updated}}</span>
    </div>
    <div class="container">
        <table>
        {% for k, v in context.params.items() %}
            <tr><td>{{k}}</td><td>{{v}}</td></tr>
        {% endfor %}
        </table>
    </div>
</div>

<div>
    <div style="display: none;" id="search-metadata-id">{{ context.obj.id }}</div>
</div>

{% endblock %}
