{% extends 'base.html' %}

{% block page_title %}Example Document Symbols{% endblock %}

{% block content %}
<div>
    <form id='undel-query-input' action='/' method="POST">
    <div class="form-group">
        <label for="undl-query">UNDL URL</label>
        <input type="text" size="128" class="form-control" id="undl-query" name="undl-query">
        <small id="undel-query-help" class="form-text text-muted">
  Enter UNDL URL
        </small>
    </div>
    <div class="form-group">
        <label for="num-records">Number of Records (default 10)</label> 
        <input type="text" size="12" class="form-control" id="num-records" name="num-records">
    </div>

    <div class="form-group">
        <input type="checkbox" name="display-fields" value="agenda" id="agenda">
            <label for="agenda">Agenda</label>
        <br />
        <input type="checkbox" name="display-fields" value="author" id="author">
            <label for="author">Author</label>
        <br />
        <input type="checkbox" name="display-fields" value="authority_authors" id="authority_authors">
            <label for="authority_authors">Authority Author</label>
        <br />
        <input type="checkbox" name="display-fields" value="document_symbol" id="document_symbol">
            <label for="document_symbol">Document Symbol</label>
        <br />
        <input type="checkbox" name="display-fields" value="imprint" id="imprint">
            <label for="imprint">Imprint</label>
        <br />
        <input type="checkbox" name="display-fields" value="notes" id="notes">
            <label for="notes">Notes</label>
        <br />
        <input type="checkbox" name="display-fields" value="publisher" id="publisher">
            <label for="publisher">Publisher</label>
        <br />
        <input type="checkbox" name="display-fields" value="pubyear" id="pubyear">
            <label for="pubyear">Publish Date</label>
        <br />
        <input type="checkbox" name="display-fields" value="related_documents" id="related_documents">
            <label for="related_documents">Related Documents</label>
        <br />
        <input type="checkbox" name="display-fields" value="subjects" id="subjects">
            <label for="subjects">Subjects</label>
        <br />
        <input type="checkbox" name="display-fields" value="summary" id="summary">
            <label for="summary">Summary</label>
        <br />
        <input type="checkbox" name="display-fields" value="title" id="title">
            <label for="title">Title</label>
        <br />
        <input type="checkbox" name="display-fields" value="voting_record" id="voting_record">
            <label for="voting_record">Voting Record</label>
        <br /><br />
        <p><label><input type="checkbox" id="checkAll"/> Check all</label></p>
    </div>
        <button type="submit" class="btn btn-primary" id="undl-query-button">Submit</button>
    </form>
</div>


{% endblock %}