{% extends 'base.html' %}

{% block content %}
<div class="content">
    {% for key, val in context.items() %}
    <div class="boxed">
        <p> Search: {{ val.id }} : <small>{{val.search_url}}</small></p>
            <a role="button" class="btn btn-info" href="/xml/?rec_id={{val.id}}">XML </a>
            <a role="button" class="btn btn-info" href="/json/?rec_id={{val.id}}">JSON</a>
            <a role="button" class="btn btn-info" href='/?rec_id={{val.id}}'>PermaLink</a>
            {% for k, v in val.search_keys.items() %}
            <p>{{k}}: {{v}}</p>
            {% endfor %}
            <p> Created: {{val.created.strftime('%Y-%m-%d %H:%M:%S')}}</p>
            <p> Updated: {{ val.updated.strftime('%Y-%m-%d %H:%M:%S') }} </p>
            <br />
        </p>
    </div>
    {% endfor %}
</div>

{% endblock %}

